[Unit]
Description=sshd-passwd-pot
After=network.target auditd.service docker.service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/default/sshd-passwd-pot
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull --all-tags dougefresh/sshd-passwd-pot
ExecStart=/usr/bin/systemd-docker run $DOCKER_OPTS 

[Install]
WantedBy=multi-user.target