[Unit]
Description=Secure Shell server with auditing
After=network.target auditd.service docker.service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/default/sshd-password-pot
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull dougefresh/sshd-password-pot
ExecStartPre=/etc/init.d/rsyslog restart
ExecStart=/usr/bin/systemd-docker run -p 22:2222 --rm --name %n dougefresh/sshd-password-pot /opt/ssh/sbin/sshd -D $SSHD_OPTS

[Install]
WantedBy=multi-user.target

